@import "tailwindcss";

@theme {
  --color-k8s-blue: #326ce5;
  --color-k8s-navy: #0f1419;
  --color-k8s-light-blue: #87ceeb;

  --color-status-success: #28a745;
  --color-status-warning: #ffc107;
  --color-status-error: #dc3545;
}
